<footer>
    <div class="footer-container">
      <div class="footer-links">
        <h4>Links</h4>
        <div>
          <span><a href="#">Home | </a></span>
          <span><a href="#">about | </a></span>
          <span><a href="#">projects | </a></span>
          <span><a href="#">services | </a></span>
          <span><a href="#">call us</a></span>
        </div>
      </div>
  
      <div class="footer-about">
        <h4>about website</h4>
        <p>help mangers to make websites for them <br>kkkkkkkkkkk</p>
      </div>
  
      <div class="footer-contact">
        <h4>call me</h4>
        <p>email: <a href="mailto:infoexample.com">infoexample.com</a></p>
        <p>phone: <a href="tel:+201234567890">+20 111 111 1111</a></p>
      </div>
    </div>
  
    <!-- <div class="footer-bottom">
      <p>&copy; 2024 جميع الحقوق محفوظة.</p>
      <ul>
        <li><a href="#">سياسة الخصوصية</a></li>
        <li><a href="#">شروط الاستخدام</a></li>
      </ul>
    </div> -->
  </footer>
  