footer {
    background-color: #3a3a3a; /* لون خلفية داكن */
    color: #ecf0f1; /* نص بلون فاتح */
    text-align: center;
    padding: 10px 10px; /* حشوة أكبر */
}

.footer-container {
    display: flex; /* استخدام Flexbox لتوزيع المحتوى */
    justify-content: space-around; /* توزيع المحتوى بالتساوي */
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}
  
  .footer-links,
  .footer-about,
  .footer-contact {
    flex: 1; /* توزيع المساحة بالتساوي */
    margin: 0 10px; /* مساحة بين الأعمدة */
  }
  
  .footer-links h4,
  .footer-about h4,
  .footer-contact h4 {
    border-bottom: 2px solid #ecf0f1; /* خط تحت العناوين */
    padding-bottom: 10px; /* حشوة تحت العناوين */
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 10px 0; /* حشوة عمودية بين العناصر */
}
  
  .footer-links a,
  .footer-contact a {
    color: #ecf0f1;
    text-decoration: none; /* إزالة التسطير */
    transition: color 0.3s; /* تأثير الانتقال عند hover */
  }
  
  .footer-links a:hover,
  .footer-contact a:hover {
    color: #3498db; /* تغيير اللون عند hover */
}

  /* .footer-bottom {
    background-color: #34495e; 
    padding: 20px 0;
    margin-top: 20px;
}
  
  .footer-bottom p {
    margin: 0;
}
  
  .footer-bottom ul {
    display: flex;
    justify-content: center; 
    padding: 0;
}
  
  .footer-bottom ul li {
    margin: 0 15px;
  }
   */
