<!-- <app-tdf></app-tdf>
<app-first></app-first>
<app-demo></app-demo>
<app-demmm></app-demmm>
<h1>Kkkkkkkkkkk : {{title}} : kkkkkkkkkkk</h1> -->
<!-- <li><a routerLink="/home">Home</a></li> -->
<!-- ضع هنا شعار الموقع أو النص -->


<!-- <nav>
    <div class="logo">
      <a href="/">Portfolio</a>
    </div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/dashpro">DashPro</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/login">Login</a></li>
      
    </ul>
    

  </nav>
  <router-outlet></router-outlet> -->
  <!-- zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz -->
<app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
  