<h4>Add Project</h4>
<div class="forma">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <input formControlName="name" placeholder="Project Name" required>
        <input formControlName="description" placeholder="Description" required>
        <input formControlName="githubUrl" placeholder="GitHub URL" required>
        <input formControlName="imageUrl" placeholder="Image URL" required>
        <button type="submit">Add Project</button>
    </form>
</div>

<h4>Add Skill</h4>
<div class="forma">
    <form [formGroup]="skillForm" (ngSubmit)="SkillSubmit()">
        <input formControlName="name" placeholder="Skill Name" required>
        <button type="submit">Add Skill</button>
    </form>
</div>