<div class="home-container">
    <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Profile Picture">
    <h1>Youssef</h1>
    <h2>مبرمج</h2>
    <p>أنا مبرمج متخصص في تطوير تطبيقات الويب باستخدام Angular وDjango، لدي خبرة في تطوير واجهات المستخدم وتحسين تجربة المستخدم.</p>
    
    <section class="experience">
      <h3>الخبرة</h3>
      <ul>
        <li>تطوير تطبيقات ويب باستخدام Angular وReact</li>
        <li>بناء واجهات برمجية خلفية باستخدام Django وNode.js</li>
        <li>تحسين الأداء وتجربة المستخدم</li>
      </ul>
    </section>
  </div>

  
  <div class="home-container">
    <h3>sills:</h3>
    [<span  *ngFor="let skill of skills" class="skill">
        {{ skill.name }}, </span>]
  </div><br><br>
  